
    body{
        margin:0px;
        padding:0px;
    }
   .row{
       height:80px;
       text-align:center;
       background-color:white;
      
    }
   .tableHeader{
       padding:10px;
       background-color: white;
       width:350px;
       text-align:center;
   }
.footer{
    
        background-color:tan ;
    width:100%;
    height: 30px;
}
   .profileTable{
       width:1024px;
   }
  .head{
      letter-spacing: 2px;
      font-size:25px;
  }
   .profile{
    padding-top:25px;
       width:341px;
       font-size:25px;
       text-align: center;
  display: table-cell;

       
   }
    .name{
        color:rgb(82, 80, 80);
        margin-top:70px;
        font-size: 25px;
       letter-spacing: 3px;
       font-family:sans-serif;
    }
    .data{
        border:2px solid rgb(82, 80, 80);
    }
    .image{
    border-radius:50%;
    height:150px;
     width:150px;
     
    }
    .profileImage{
        display:inline-block;
        width:341px;
      
    }
    .imageRow{
        text-align:center;
    }
    .designation{
        color:grey;
        font-size:15px;
        letter-spacing: 2px;
    }
    .description{
        color:grey;
        font-size:20px;
    text-align: justify;
         max-height: 320px;
  position: relative;
  overflow: hidden;
    }
    .description1{
        color:black;
        font-size:17px;
    text-align: left;
  
    }
    .container{
        width:1024px;
        margin: 0 auto;
    }
    .container1{
      
        width:1024px;
        height:200px;
        margin:0 auto;
        background-color:rgb(171, 184, 184);
    }
    .namingData{
        padding-top:48px;
    }
    .inner-container{
        background-color:white;
        width: 1024px;
        margin: 0 auto;
        position: relative;
        display: table;
    }
    .home,.email,.contact,.pc{
        height:25px;
        width:25px;
    text-align: right;
    position:absolute;
    }
    .home{
        margin-left:8px;
    }
    
    .email{
        margin-left:153px;
    }
    .contact{
        margin-left:223px;
    }
    .pc{
        margin-left:148px;
    }
    .mid{
        position: absolute;
       display: inline;
    
    }
.button{
    font-size: 15px;
}

.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.read-more-state:checked ~ .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
    content: 'Read more';
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Read less';
}

.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
}
